@font-face {
    font-family: 'Akzidenz';
    src: url('../fonts/AkzidenzGroteskPro-Bold.woff2') format('woff2'),
         url('AkzidenzGroteskPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Akzidenz';
    src: url('../fonts/AkzidenzGroteskPro-Md.woff2') format('woff2'),
         url('AkzidenzGroteskPro-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Akzidenz';
    src: url('../fonts/AkzidenzGroteskPro-Regular.woff2') format('woff2'),
         url('AkzidenzGroteskPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//   font-weight: 400;
//   font-family: "OpenSans";
//   font-style: normal;
//   src:
//     url("../fonts/opensans.woff2") format("woff2"),
//     url("../fonts/opensans.woff") format("woff");
// }
//
// @font-face {
//   font-weight: 300;
//   font-family: "OpenSans";
//   font-style: normal;
//   src:
//     url("../fonts/opensanslight.woff2") format("woff2"),
//     url("../fonts/opensanslight.woff") format("woff");
// }
//
// @font-face {
//   font-weight: 700;
//   font-family: "OpenSans";
//   font-style: normal;
//   src:
//     url("../fonts/opensansbold.woff2") format("woff2"),
//     url("../fonts/opensansbold.woff") format("woff");
// }
