/*---------- COLORS ----------*/
$accent: #e96f47;
$text-dark: #000000;
$text-grey: #474747;
$text-light: #ffffff;

/*---------- FONTS ----------*/
$font-primary: "Roboto", Arial, sans-serif;
$font-secondary: "Comfortaa", Arial, sans-serif;

/*--------- DEVICES ----------*/
$laptop: 1280px;
$tablet: 992px;
$phone: 576px;
