.menu__list {
  display: flex;
  justify-content: space-between;
}
.menu__link {
  display: inline-block;
  padding: 4rem 0;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: $accent;
    opacity: 0;
    transition: opacity .2s;
  }
  &:hover, &:focus {
    color: $accent;
    &:after {
      opacity: 1;
    }
  }
}
.menu__dropdown {
  position: absolute;
  top: 204px;
  left: 0;
  width: 100%;
  background-color: #f6f6f6;
  padding: 6rem 4rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transition: opacity .3s, visibility.3s;
  opacity: 0;
  visibility: hidden;
}
.menu__item_with-dropdown:hover .menu__dropdown {
  opacity: 1;
  visibility: visible;
}
.menu__dropdown-list {
  margin: 0 1rem;
  font-size: 1.6rem;
  h4 {
    font-weight: 400;
    margin-bottom: 7rem;
    position: relative;
    font-size: 1.8rem;
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 58px;
      height: 2px;
      background-color: $accent;
      left: 0;
      bottom: -3rem;
    }
  }
  li {
    line-height: 2;
  }
}
.menu__toggle {
  display: inline-block;
  padding: 2rem;
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  top: 20px;
  right: 10px;
  display: none;
}
.menu__toggle-line {
  width: 20px;
  height: 3px;
  background-color: $text-dark;
  &:not(:last-child) {
    margin-bottom: 3px;
  }
}
.menu__toggle-checkbox {
  display: none;
}
.menu__dropdown-checkbox {
  display: none;
}
.menu__dropdown-arrow {
  display: none;
}
@media screen and (max-width: $tablet) {
  .menu__list {
    width: 240px;
    display: block;
    position: fixed;
    left: -100%;
    top: 0;
    overflow: hidden;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    padding: 2rem;
    transition: left .3s;
    text-align: left;
    border-right: 1px solid #e8e8e8;
  }
  .menu__link {
    padding: 1rem 0;
    &:after {
      display: none;
    }
  }
  .menu__toggle {
    display: inline-block;
  }
  .menu__toggle-checkbox:checked ~ .menu__list {
    left: 0;
  }
  .menu__dropdown {
    position: static;
    padding: 1rem;
    background: none;
    display: none;
    overflow: hidden;
  }
  .menu__dropdown-list:not(:first-child) {
    display: none;
  }
  .menu__dropdown-checkbox:checked {
    ~ .menu__dropdown {
      display: block;
    }
    ~ .menu__dropdown-arrow {
      transform: rotate(180deg);
    }
  }
  .menu__dropdown-arrow {
    display: inline-block;
    min-width: 25px;
    min-height: 25px;
    position: relative;
    top: 7px;
    left: 12px;
    transition: transform .2s;
    cursor: pointer;
    &:hover {
      &:before, &:after {
        background-color: $accent;
      }
    }
    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 7px;
      left: 8px;
      width: 3px;
      height: 12px;
      transform: rotate(-45deg);
      background-color: $text-dark;
    }
    &:after {
      content: '';
      position: absolute;
      top: 7px;
      right: 7px;
      display: block;
      width: 3px;
      height: 12px;
      transform: rotate(45deg);
      background-color: $text-dark;
    }
  }
}
@media screen and (max-width: $phone) {

}
