.blog {
  height: 190px;
}
.blog__wrapper {
  height: 100%;
  background: #979796 url(../img/bg-blog.jpg) no-repeat 100% / cover;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7rem 11.5rem;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    left: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.59);
  }
}
.blog__heading {
  position: relative;
  color: $text-light;
  font-weight: 500;
  padding-left: 30%;
  padding-right: 3rem;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 58px;
    height: 2px;
    background-color: $accent;
    top: 17px;
    left: 0;
  }
}
