.header {
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.06);
  z-index: 2;
}
.header__wrapper {
  display: flex;
}
.header__logo {
  margin-right: 4.5%;
  padding: 3.5rem 0;
}
.main-nav {
  flex-grow: 1;
  color: $text-dark;
}
.top-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  border-bottom: 1px solid #e8e8e8;
  font-size: 1.6rem;
  position: relative;
}
.top-links__left,
.top-links__right {
  display: flex;
  align-items: center;
}
.top-links__contact {
  white-space: nowrap;
  margin-right: 13.5%;
}
.top-links__phone {
  font-weight: 700;
  padding-left: 30px;
  background: url(../img/icon-phone.svg) no-repeat 0 4px;
}
.search {
  position: relative;
  left: 5.5%;
}
.search_open {
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 65%;
  .search__form {
    justify-content: space-between;
  }
  .search__input {
    display: block;
    flex-grow: 1;
    max-width: none;
    padding: 0 2rem;
    opacity: 1;
  }
  .search__btn span {
    display: none;
  }
  .search__submit-btn {
    display: inline-block;
  }
}
.search__form {
  display: flex;
  align-items: center;
}
.search__input {
  border: none;
  outline: none;
  overflow: hidden;
  max-width: 0;
  opacity: 0;
  transition: opacity .7s;
}
.search__btn {
  span {
    cursor: pointer;
    transition: color .2s;
    &:hover, &:focus {
      color: $accent;
    }
  }
}
.search__submit-btn {
  display: none;
  border: none;
  background: none;
  color: $accent;
  cursor: pointer;
  padding: 1.5rem 0;
}
.search__icon {
  margin-right: 1.5rem;
}
.top-links__cart {
  white-space: nowrap;
}
.top-links__cart-value {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  color: $text-light;
  font-size: 1.4rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  background-color: $accent;
}
.top-links__login {
  background: url(../img/icon-user.svg) no-repeat 0 2px;
  margin-left: 5.5rem;
  padding-left: 30px;
  white-space: nowrap;
}

@media screen and (max-width: $laptop) {
  .top-links__contact {
     margin-right: 5%;
  }
  .top-links__login {
    margin-left: 2rem;
  }
}
@media screen and (max-width: $tablet) {
  .header__logo {
    padding: 0;
    margin: 2rem 4rem 0 0;
    height: auto;
  }
  .top-links {
    padding: 1rem 0;
    flex-wrap: wrap;
    border-bottom: none;
  }
  .top-links__left {
    padding-top: 1rem;
  }
  .search {
    position: static;
    width: 100%;
    margin: 1.5rem 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }
  .search__input {
    display: block;
    flex-grow: 1;
    max-width: none;
    padding: 0 2rem;
    opacity: 1;
  }
  .search__btn span {
    display: none;
  }
  .search__submit-btn {
    display: inline-block;
    color: inherit;
    transition: color .2s;
    &:hover, &:focus {
      color: $accent;
    }
  }
}
@media screen and (max-width: $phone) {
  .header__wrapper {
    flex-direction: column;
    text-align: center;
  }
  .header__logo {
    .logo__caption {
      display: none;
    }
  }
  .top-links__left {
    flex-direction: column;
    align-items: flex-start;
  }
  .top-links__right {
    flex-direction: column;
    align-items: flex-end;
  }
  .top-links__cart {
    margin-bottom: 1rem;
  }
  .top-links__phone {
    padding-left: 15px;
  }
  .top-links__contact:not(:last-child) {
    margin-bottom: 1rem;
  }
  .search {
    order: 2;
  }
  .search__icon {
    margin: 0;
  }
}
