.header {
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.06);
  z-index: 2;
}
.header__wrapper {
  display: flex;
}
.main-nav {
  flex-grow: 1;
  color: $text-dark;
}
.header__logo {
  margin-right: 4.5%;
  padding: 3.5rem 0;
}
.top-links {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  border-bottom: 1px solid #e8e8e8;
  font-size: 1.6rem;
  position: relative;
}
.top-links__left,
.top-links__right {
  display: flex;
  align-items: center;
}
.top-links__contact {
  white-space: nowrap;
  margin-right: 13.5%;
}
.top-links__phone {
  font-weight: 700;
  padding-left: 30px;
  background: url(../img/icon-phone.svg) no-repeat 0 4px;
}
.search {
  background-color: #fff;
}
.search__form {
  height: 100%;
  display: flex;
  align-items: center;
}
.search__input {
  height: 100%;
  border: none;
  outline: none;
  transition: width .2s;
  position: absolute;
  left: 0;
}
.search__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 2rem;
  background: url(../img/icon-search.svg) no-repeat center center;
}
.search__btn {
  cursor: pointer;
  &:hover, &:focus {
    color: $accent;
  }
}
.search__submit-btn {
  border: none;
  background: none;
  display: none;
  cursor: pointer;
  transition: color .2s;
  &:hover, &:focus {
    color: $accent;
  }
}
.search_open {
  .search__input {
    width: auto;
    padding: 0 3rem .4rem;
  }
  .search__btn {
    color: $accent;
    span {
      display: none;
    }
    .search__submit-btn {
      display: block;
    }
  }
}
// .search {
//   position: absolute;
//   top: 0;
//   right: 350px;
//   height: 100%;
//   background-color: #fff;
// }
// .search__form {
//   height: 100%;
//   display: flex;
//   align-items: center;
// }
// .search__input {
//   height: 100%;
//   width: 0;
//   border: none;
//   outline: none;
//   transition: width .2s;
// }
// .search__icon {
//   display: inline-block;
//   width: 15px;
//   height: 15px;
//   padding: 2rem;
//   background: url(../img/icon-search.svg) no-repeat center center;
// }
// .search__btn {
//   cursor: pointer;
//   &:hover, &:focus {
//     color: $accent;
//   }
// }
// .search__submit-btn {
//   border: none;
//   background: none;
//   display: none;
//   cursor: pointer;
//   transition: color .2s;
//   &:hover, &:focus {
//     color: $accent;
//   }
// }
// .search_open {
//   .search__input {
//     width: 717px;
//     padding: 0 3rem .4rem;
//   }
//   .search__btn {
//     color: $accent;
//     span {
//       display: none;
//     }
//     .search__submit-btn {
//       display: block;
//     }
//   }
// }
.top-links__cart {
  white-space: nowrap;
}
.top-links__cart-value {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  color: $text-light;
  font-size: 1.4rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  background-color: $accent;
}
.top-links__login {
  background: url(../img/icon-user.svg) no-repeat 0 2px;
  margin-left: 5.5rem;
  padding-left: 30px;
  white-space: nowrap;
}

@media screen and (max-width: $laptop) {

}
@media screen and (max-width: $tablet) {
  .top-links {
    padding: 1rem 0;
    flex-wrap: wrap;
  }
  .search {
    width: 100%;
    order: 1;
    padding-top: 1rem;
  }
  .search__form {
    justify-content: flex-end;
  }
  .search__input {
    position: static;
    flex-grow: 1;
    max-width: 0;
  }
  .search_open {
    .search__input {
      max-width: initial;
    }
    .search__btn {
      color: $accent;
      span {
        display: none;
      }
      .search__submit-btn {
        display: block;
      }
    }
  }
}
@media screen and (max-width: $phone) {
  .header__wrapper {
    flex-direction: column;
    text-align: center;
  }
  .header__logo {
    padding: 0;
    margin: 2rem 0;
    height: auto;
    .logo__caption {
      display: none;
    }
  }
  .top-links__left {
    flex-direction: column;
    align-items: flex-start;
  }
  .top-links__right {
    flex-direction: column;
    align-items: flex-end;
  }
  .top-links__cart {
    margin-bottom: 1rem;
  }
  .top-links__phone {
    padding-left: 15px;
  }
  .top-links__contact:not(:last-child) {
    margin-bottom: 1rem;
  }
  .search__btn {
  }
}
