.new {
  padding: 3rem 0 9.5rem;
}
.new__heading {
  color: $text-dark;
  font-size: 3.6rem;
  font-weight: 500;
  margin-bottom: 5rem;
  padding-left: 8%;
}
.new__item {
  margin: 0 1.5rem;
}
.new {
  .slick-prev {
    position: absolute;
    top: -90px;
    right: 60px;
    visibility: hidden;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 50px;
      height: 50px;
      background: url(../img/icon-arrow-left.png) no-repeat center;
      visibility: visible;
      cursor: pointer;
    }
    &:hover:after {
      background: url(../img/icon-arrow-left-orange.png) no-repeat center;
    }
  }
  .slick-next {
    position: absolute;
    top: -90px;
    right: 10px;
    visibility: hidden;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 50px;
      height: 50px;
      background: url(../img/icon-arrow-right.png) no-repeat center;
      visibility: visible;
      cursor: pointer;
    }
    &:hover:after {
      background: url(../img/icon-arrow-right-orange.png) no-repeat center;
    }
  }
}

@media screen and (max-width: $phone) {
  .item-card {
    max-width: 315px;
    margin: 0 auto;
  }
  .new__heading {
    font-size: 2.6rem;
  }
}
