.types {
  padding-bottom: 4.5rem;
}
.types__wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 3rem;
}
.types__item:nth-child(1) {
  grid-column: 1 / 6;
}
.types__item:nth-child(2) {
  grid-column: 6 / 10;
}
.types__item:nth-child(3) {
  grid-column: 1 / 4;
}
.types__item:nth-child(4) {
  grid-column: 4 / 7;
}
.types__item:nth-child(5) {
  grid-column: 7 / 10;
}
.types__item {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #555;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .3s;
  }
  &:hover:after {
    opacity: 1;
  }
}
.types__figure {
  height: 100%;
}
.types__img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
.types__caption {
  font-size: 3.6rem;
  font-weight: 100;
  color: $text-light;
  position: absolute;
  left: 10%;
  bottom: 20%;
  z-index: 2;
}
