.types {
  padding-bottom: 4.5rem;
}
.types__top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  .types__item:first-child {
    flex: 4;
    margin-right: 3rem;
  }
  .types__item:last-child {
    flex: 3;
  }
}
.types__bottom-row {
  display: flex;
  justify-content: space-between;
  .types__item {
    flex: 1;
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
}
.types__item {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #555;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .3s;
  }
  &:hover:after {
    opacity: 1;
  }
}
.types__figure {
  height: 100%;
}
.types__img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
.types__caption {
  font-size: 3.6rem;
  font-weight: 500;
  color: $text-light;
  position: absolute;
  left: 10%;
  bottom: 20%;
  z-index: 2;
  padding-right: 2rem;
}

@media screen and (max-width: $tablet) {
  .types__caption {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: $phone) {
  .types__top-row {
    display: block;
    margin-bottom: 0;
    .types__item:first-child {
      margin-right: 0;
    }
  }
  .types__bottom-row {
    display: block;
    .types__item:not(:last-child) {
      margin-right: 0;
    }
  }
  .types__item {
    margin-bottom: 2rem;
  }
}
